<p id="notice"><%= notice %></p>

<h1>Pictures List</h1>
<br>
<table class="container">
  <div class="row">
    <% @pictures.each do |picture| %>
         <p><%= picture.user.name %></p>
         <p>Content: <%= picture.content %></p>
         <p><%= image_tag(picture.image.url) %></p>
         <tr>
           <button type="button" class="btn btn-info"><%= link_to 'See', picture, data: {confirm: 'Are you sure you want to see?'}%></button>
           <button type="button" class="btn btn-info"><%= link_to 'Edit', edit_picture_path(picture), data: {confirm: 'Are you sure you want to edit?'}%></button>
           <button type="button" class="btn btn-info"><%= link_to 'Delete', picture, method: :delete, data: { confirm: 'Are you sure?' } %></button>
        </tr>
       <% end %>
       </div>
       </table>
 <br>

<button type="button" class="btn btn-info"><%= link_to 'New Picture', new_picture_path %></button>
